{% extends 'base.html.twig' %}

{% block body %}

<p>En cours de developpement ;)</p>

<div class="d-flex flex-row justify-content-between">
    <h2>Prochains anniversaires</h2>
</div>

<ul class="list-group">
{% for birthday in birthdays %}
        <li class="list-group-item list-group-item-action">
            {{ birthday|date("d/m") }}
        </li>
{% endfor %}
</ul>

{% endblock %}
