{% extends 'base.html.twig' %}

{% block body %}

<div class="d-flex flex-row justify-content-between">
    <h2>{{ relative.firstname }} {{ relative.lastname }}</h2>
    <div>
        <a href="{{ path('relative_update', {'id': relative.id}) }}" class="btn btn-primary">Modifier</a>
    </div>
</div>

<p>{{ relative.getHome().cityName }}</p>

{% endblock %}
